 * { margin: 0; padding: 0; }

html, body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: url("../img/bg_blue.png") center center;
	background-size: cover;
}

#content {
	width: 100%;
	overflow: hidden;
}

header {
	width: 80%;
	padding: 5% 10%;
	padding-top: 18%;
	position: absolute;
	top: 0;
	left: 0;

	transition: left 0.5s, right 0.5s;
}

header img {
	width: 100%;
	margin-bottom: 6%;
	pointer-events: none;
}

h2 {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 300;
	display: inline;
}

h3 {
	font-weight: 300;
	font-size: 2.0rem;
}

h4 {
	font-weight: 700;
	font-size: 0.8rem;
}

#swipe {
	width: 100%;
	height: 84px;
	position: relative;
}

.swipe-div {
	width: 100%;
	height: 42px;
	margin: 7px 0;
	position: relative;
}

#swipe-left .name {
	background: url("../img/projects_icon.png") center center no-repeat;
	background-size: contain;
	width: 80%;
	height: 100%;
	float: right;
}

#swipe-left .arrow {
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background: url("../img/smallarrow_right.png") 90% 50% no-repeat;
	background-size: contain;
	background-color: #fff;
}

#swipe-right .name{
	background: url("../img/people_icon.png") center center no-repeat;
	background-size: contain;
	width: 80%;
	height: 100%;
	float: left;
}

#swipe-right .arrow {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 100%;
	background: url("../img/smallarrow_left.png") 10% 50% no-repeat;
	background-size: contain;
	background-color: #fff;
}

#instruction-swipe {
	padding-top: 6%;
	clear: both;
}

.instruction {
	font-weight: 700;
	font-size: 0.8rem;
	color: #fff;
	text-align: center;
}

#project-list, #people-list {
	width: 100%;
	overflow: hidden;
	top: 1%;
}

#project-title {
	text-align: right;
}
#people-title {
	text-align: left;
}


.project, .person {
	width: 94%;
	display: inline-table;
	margin: 0.0% 0;
	padding: 10% 3%;
	border-bottom: 1px solid #ccc;
	font-size: 1.8rem;
	color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.projects-visible {
	display: block;
	transition: left 0.5s ;
}

.projects-hidden {
	display: none;
	transition: left 0.5s ;
}

.people-visible {
	display: block;
	transition: right 0.5s ;
}

.people-hidden {
	display: none;
	transition: right 0.5s ;
}

.header-visible {
	left: 0;
}

.header-left {
	display: none;
}

.header-right {
	display: none;
}

